<ul class="collapsible" data-collapsible="accordion">
	<!-- <li>
		<div class="collapsible-header"><i class="material-icons">supervisor_account</i>Family</div>
		<div class="collapsible-body">
			<div class="row">
				<div class="col s4">
					<img src="{{url_for('static', filename='IMG_4487.png')}}" width="200" height="200" class="circle responsive-img" />
				</div>
				<h5 style="margin-bottom:1px;">Lucie</h5>
				<h6>Mum</h6>
				<hr />
				<p class="flow-text right-align">
					We like to work hard, and try to look after one another in between our jobs. I enjoy when we are able to get out of Auckland and spend time with my granny, uncle and his family.
				</p>
				<hr />
			</div>
			<div class="row">
				<div class="col s4">
					<img src="{{url_for('static', filename='IMG_4607.png')}}" width="200" height="200" class="circle responsive-img" />
				</div>
				<h5 style="margin-bottom:1px;">Adrian</h5>
				<h6>Dad</h6>
				<hr />
				<p class="flow-text right-align">
					We like to drink tea while eating biccies, then going surfing, and being banterous. I enjoy talking and teaching tech to him while absorbing some of his perspective's of the world.
				</p>
				<hr />
			</div>
			<div class="row">
				<div class="col s4">
					<img src="{{url_for('static', filename='IMG_7329-1.png')}}" width="200" height="200" class="circle responsive-img" />
				</div>
				<h5 style="margin-bottom:1px;">Fred</h5>
				<h6>Bro</h6>
				<hr />
				<p class="flow-text right-align">
					We like to talk shit, communicating our differences and similarities. Went through the same schools and I like to spend time surfing with him and my cousin.
				</p>
				<hr />
			</div>
		</div>
	</li>
	<li>
		<div class="collapsible-header"><i class="material-icons">contacts</i>Friends</div>
		<div class="collapsible-body">
			<div class="row">
				<div class="col s4">
					<img src="{{url_for('static', filename='IMG_7449.png')}}" width="200" height="200" class="circle responsive-img" />
				</div>
				<h5 style="margin-bottom:1px;">Jimi</h5>
				<h6>Peters</h6>
				<hr />
				<p class="flow-text right-align">
					Working on projects together providing value. OG from back in KP days. Enjoy spending time gaming and chilling.
				</p>
				<hr />
			</div>
			<div class="row">
				<div class="col s4">
					<img src="{{url_for('static', filename='IMG_4000.png')}}" width="200" height="200" class="circle responsive-img" />
				</div>
				<h5 style="margin-bottom:1px;">Britt</h5>
				<h6>Davies</h6>
				<hr />
				<p class="flow-text right-align">
					Partying since the end of highschool, lots of good times. Humourous and trustworthy.
				</p>
				<hr />
			</div>
			<div class="row">
				<div class="col s4">
					<img src="{{url_for('static', filename='F1020025.png')}}" width="200" height="200" class="circle responsive-img" />
				</div>
				<h5 style="margin-bottom:1px;">Nick</h5>
				<h6>Godfrey</h6>
				<hr />
				<p class="flow-text right-align">
					Mates from KP lots of classic memories from Kings and Grammar. Enjoy swimming and going on adventures.
				</p>
				<hr />
			</div>
			<div class="row">
				<div class="col s4">
					<img src="{{url_for('static', filename='IMG_5727.png')}}" width="200" height="200" class="circle responsive-img" />
				</div>
				<h5 style="margin-bottom:1px;">Nic</h5>
				<h6>Seagrave</h6>
				<hr />
				<p class="flow-text right-align">
					Went to Europe together back at school and had a blast getting up to mischief with this crazy coon.
				</p>
				<hr />
			</div>
			<div class="row">
				<div class="col s4">
					<img src="{{url_for('static', filename='IMG_5865.png')}}" width="200" height="200" class="circle responsive-img" />
				</div>
				<h5 style="margin-bottom:1px;">Tom</h5>
				<h6>Collins</h6>
				<hr />
				<p class="flow-text right-align">
					Started getting close at the end of high school. Love shooting the shit, always good for a giggle.
				</p>
				<hr />
			</div>
			<div class="row">
				<div class="col s4">
					<img src="{{url_for('static', filename='IMG_2714.png')}}" width="200" height="200" class="circle responsive-img" />
				</div>
				<h5 style="margin-bottom:1px;">Azan</h5>
				<h6>Ketan</h6>
				<hr />
				<p class="flow-text right-align">
					Hes a worry, but always good to share a meme or an adventure with.
				</p>
				<hr />
			</div>
			<div class="row">
				<div class="col s4">
					<img src="{{url_for('static', filename='IMG_6793.png')}}" width="200" height="200" class="circle responsive-img" />
				</div>
				<h5 style="margin-bottom:1px;">Tom</h5>
				<h6>Ellis</h6>
				<hr />
				<p class="flow-text right-align">
					Playing cricket and playing skate. Having a laugh while you cook up a feed. See you soon.
				</p>
				<hr />
			</div>
			<div class="row">
				<div class="col s4">
					<img src="{{url_for('static', filename='IMG_3469.png')}}" width="200" height="200" class="circle responsive-img" />
				</div>
				<h5 style="margin-bottom:1px;">Lauchy</h5>
				<h6>Fraser</h6>
				<hr />
				<p class="flow-text right-align">
					This boys wild, straight from the west. Love having a good time with this joker look forward to catching ya in Canada.
				</p>
				<hr />
			</div>
			<div class="row">
				<div class="col s4">
					<img src="{{url_for('static', filename='IMG_3494.png')}}" width="200" height="200" class="circle responsive-img" />
				</div>
				<h5 style="margin-bottom:1px;">Matt</h5>
				<h6>Coyle</h6>
				<hr />
				<p class="flow-text right-align">
					I wouldn't wanna fight this guy. Only cause at heart hes a big teddy.
				</p>
				<hr />
			</div>
		</div>
	</li>-->
</ul>
