.App {
  text-align: center;
}
html { height:100%; }
body { position:absolute; top:0; bottom:0; right:0; left:0; }

.App-logo {
  animation: App-logo-spin infinite 1s linear;
  height: 3vmin;
  pointer-events: none;
  margin-top: 1%;
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.My-name{
  font-family: 'Roboto', Times, serif;
}
/* 
.item-a {
  grid-area: header;
}
.item-b {
  grid-area: main;
}
.item-c {
  grid-area: sidebar;
}
.item-d {
  grid-area: footer;
}

.container {
  display: grid;
  grid-template-columns: 25vw 25vw 25vw 25vw;
  grid-template-rows: 10vh 30vw 30vw;
  grid-template-areas: 
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer";
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
